<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mhs.RipVent.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mhs.RipVent.Common.Properties.Settings>
            <setting name="SpirometryFlowFilterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpirometryFlowFilterType" serializeAs="String">
                <value>Butterworth</value>
            </setting>
            <setting name="SpirometryFlowFilterOrder" serializeAs="String">
                <value>Second</value>
            </setting>
            <setting name="SpirometryFlowCornerFrequency" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="SpirometryFlowTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="SpirometryFlow1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpirometryFlow2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpirometryFlow3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AirwayPressureFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AirwayPressureFilterType" serializeAs="String">
                <value>Butterworth</value>
            </setting>
            <setting name="AirwayPressureFilterOrder" serializeAs="String">
                <value>Second</value>
            </setting>
            <setting name="AirwayPressureCornerFrequency" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="AirwayPressureTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="AirwayPressure1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AirwayPressure2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AirwayPressure3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsophagealPressureFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EsophagealPressureFilterType" serializeAs="String">
                <value>Butterworth</value>
            </setting>
            <setting name="EsophagealPressureFilterOrder" serializeAs="String">
                <value>Second</value>
            </setting>
            <setting name="EsophagealPressureCornerFrequency" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="EsophagealPressureTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="EsophagealPressure1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsophagealPressure2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsophagealPressure3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RipBandsFilterType" serializeAs="String">
                <value>Butterworth</value>
            </setting>
            <setting name="RipBandsFilterOrder" serializeAs="String">
                <value>Second</value>
            </setting>
            <setting name="RipBandsCornerFrequency" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="RipBandsCombinedTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="RipBandsCombined1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsCombined2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsCombined3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsRibCageTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="RipBandsRibCage1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsRibCage2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsRibCage3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsAbdomenTriggerThreshold" serializeAs="String">
                <value>300.0</value>
            </setting>
            <setting name="RipBandsAbdomen1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsAbdomen2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsAbdomen3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RipBandsRibCageScalar" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="RipBandsAbdomenScalar" serializeAs="String">
                <value>2.7</value>
            </setting>
            <setting name="MiscellaneousSampleIgnoreCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MiscellaneousMinArtifactDuration" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Mhs.RipVent.Common.Properties.Settings>
    </userSettings>
</configuration>