<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mhs.RipVent.ArtifactAnnotator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Mhs.RipVent.ArtifactAnnotator.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
        </Mhs.RipVent.ArtifactAnnotator.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="NMathLicenseKey" value="XTUV3-U14GE-6D3AL-PMAUV-UUMFU-USUYP-UG19S-UWPUF-DDPMM-HDFM7-1VMDP-39WJF-6E0TD-83TY6-TFP8R-TWP3F-193VW-83G19-SMWPU-FUQ1H-MDP39-WJF6E-2U9UP-EMGDP-RNQ2N-VW" />
  </appSettings>
</configuration>