<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mhs.RipVent.Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mhs.RipVent.Automation.Properties.Settings>
            <setting name="MinDP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDP" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MinDT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CoupleTriggers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterBreaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RelativeToMedian" serializeAs="String">
                <value>False</value>
            </setting>
        </Mhs.RipVent.Automation.Properties.Settings>
    </userSettings>
</configuration>